body{
    background-color: #000000;
    background-image: url("player_images/other_assets/dusk.png");
}

h1{
    font-family: 'Poppins', sans-serif;
    color: white;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: white;
}

h3{
    font-family: 'Poppins', sans-serif;
    color: white;
}

p{
    font-family: 'Poppins', sans-serif;
    color: white;
}