body{
    background-color: #61652b;
    background-image: url("player_images/other_assets/brawlhalla-promo-stadium.png");
}

h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: white;
}

.btn {
    border: none; 
    color: rgb(255, 255, 255); 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
  }
.primary {background-color: #ca4df0; border: 2px solid #ffffff;} 
.primary:hover {background: #9533b3; color: white;}

.secondary {background-color: #3f9e32; border: 2px solid #ffffff;} 
.secondary:hover {background: #25661d; color: white;}
